:root {
	--primary-color: #7423D2;
	--secondary-color: #FFFFFF;
	--orange-contrast: #FFA500;
}
.content-container{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	min-height: 20vh;
	background-color: gradient(to bottom, var(--primary-color), var(--secondary-color));
}


.CampaignForm {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem;
    background-color: #f5f5f5;
    border-radius: 0.5rem;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
		min-height: 100%;
		max-width: 90%;
}

.CampaignForm .form-group {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	margin: 1rem 0.5rem;
	flex: 1;
	max-width: 50%;
}
.CampaignForm .form-group label {
	margin-right: 1rem;
}

.CampaignForm .form-group input, textarea, select {
	flex: 1;
	border: none;
	border-radius: 0.5rem;
	padding: 0.5rem;
	margin-top: 0.25rem;
	margin-bottom: 0.25rem;
}

.CampaignForm .form-group .skill-toggles {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	flex: 1;
	margin-top: 0.25rem;
	margin-bottom: 0.25rem;
}

.CampaignForm .form-group .skill-toggles .skill-button {
	background-color: transparent;
	border: 1px solid purple;
	border-radius: 0.5rem;
	color: purple;
	cursor: pointer;
	margin-right: 0.5rem;
	margin-bottom: 0.5rem;
	padding: 0.5rem;
}

.CampaignForm .form-group .skill-toggles .selected {
	background-color: #4CAF50;
	color: white;
}

.CampaignForm .form-group .submit-button {
	margin-top: 1rem;
	padding: 0.5rem 1rem;
	border: none;
	border-radius: 0.5rem;
	font-size: 1.2rem;
	background-color: #1e90ff;
	color: white;
	cursor: pointer;
}

.CampaignForm .form-group .last-buttons {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	margin: 1rem 0.5rem;
	flex: 1;
	max-width: 50%;
}

.CampaignForm .form-group .chat-btn {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	font-size: 1.0rem;
	background-color: #7423D2; 
	color: white; 
	border: none;
	cursor: pointer;
}

/* Navbar container */
.navbar {
	background-color: #7423D2;; /* Set your desired background color */
	height: 60px; /* Set the height of the navbar */
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px; /* Adjust the left and right padding as needed */
	border-radius: 10px; /* Add rounded corners */
	width: 100%;
  }
  
  /* Navbar logo */
  .navbar .logo {
	font-size: 24px;
	font-weight: bold;
  }
  
  /* Navbar menu */
  .navbar .menu {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
  }
  
  /* Navbar menu items */
  .navbar .menu li {
	margin-left: 20px; /* Adjust the spacing between menu items */
  }
  
  /* Navbar links */
  .navbar .menu li a {
	color: #FFFFFF;; /* Set the color of the links */
	text-decoration: none;
	font-size: 16px;
	transition: color 0.3s ease;
  }

  .navbar .menu .population-link {
	color: #ffcd71 /* Replace with your desired color */
  }
  
  /* Navbar link hover effect */
  .navbar .menu li a:hover {
	color: #FFA500;; /* Set the color for the hover effect */
  }


  .response-container {
	max-width: 500px;
	margin: 0 auto;
	padding: 20px;
	background-color: #f5f5f5;
	border-radius: 5px;
	background-color: #f5f5f5;
    border-radius: 0.5rem;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
		min-height: 100%;
		max-width: 90%;
  }
  
  .field-container {
	margin-bottom: 15px;
  }
  
  .field-label {
	font-weight: bold;
	margin-bottom: 5px;
  }
  
  .field-value {
	margin: 0;
  }
  
  .population-list,
  .suggestion-list {
	padding-left: 20px;
  }
  
  .population-list li,
  .suggestion-list li {
	list-style-type: disc;
  }

  .population-link {
	color: #7423D2;
	text-decoration: none;
  }
  
  .population-link:hover {
	color:#FFA500;
  }
  